.hero-section .committee-heading {
    top: -10px;
}

.hero-section .committee-subheading {
    top: -10px;
}

.committee-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.committee-header .committee-text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.committee-header p{
    text-align: center;
    
}

.committee-logo{
    height: 10vw;
}   



body{
    background: top / cover url("../images/committees_2024/unsplash-6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-section{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vw;
}

.hero-content{
    padding: 5vw;
    gap: 2vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo-duo{
    display: flex;
    gap: 1rem;
    width: 50%;
}

.agenda-body{
    font-family: var(--font-heading); 
    font-size: var(--text-lg);
    color: var(--color-tertiary);
}

.hero-agenda-sec{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agenda-section{
    width: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    margin: 25vw 0;
}

.agenda-content{
    text-align: left;
    font-size: var(--text-base);
    height: 100%;
    width: 75%;
    
}

.btn-section{
    margin-top: 3vh;
}

.btn-section .bg-guide-btn{
    font-family: var(--font-heading);
    cursor: pointer;
    text-transform: uppercase;
    width: 18rem;
    height: 4rem;
    color: var(--color-tertiary);
    border: 3px solid var(--secondary);
    background: rgba(44, 3, 59, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
}

.bg-guide-btn:hover{
    color: var(--secondary);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(0deg, #7D3E00 -7.62%, #FFC170 14.51%, #FFEED8 32.4%, #FFC170 84.95%, #7D3E00 106.96%);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btn-hover-effect {
    top: 50%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 36px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-decoration: none;
    overflow: hidden;
    margin-top: 2rem;
  }
  
  /* effect #5 */
  
  .btn-hover-effect--effect-5,
  .btn-hover-effect--effect-5:focus {
    background-color: var(--secondary);
    color: var(--main);
  }
  
  .btn-hover-effect--effect-5:before {
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    display: block;
    width: 300px;
    height: 300px;
    content: "";
    /* color:#284351; */
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    z-index: -1;
  }


  
  .btn-hover-effect--effect-5:after {
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.2s linear 0.2s,
      -webkit-transform 0.2s linear 0.2s;
    transition: opacity 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, opacity 0.2s linear 0.2s,
      -webkit-transform 0.2s linear 0.2s;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    content: "\f1c1";
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    line-height: inherit;
    color: transparent;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
  }

  .ipc-btn-section{
    height: 50%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .ipr-button.btn-hover-effect--effect-5:after{
    content: "\f5ad";
    font-family: "Font Awesome 5 Free";
  }
  .ipp-button.btn-hover-effect--effect-5:after{
    content: "\f083";
    font-family: "Font Awesome 5 Free";
  }
  
  .btn-hover-effect--effect-5:hover {
    color: transparent;
  }
  
  .btn-hover-effect--effect-5:hover:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .btn-hover-effect--effect-5:hover:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
    color: #284351;
  }
  
  .btn-hover-effect .btn-hover-effect--effect-5 .download-icon {
    margin-left: 10px;
  }
  


.agenda-box{
    background: rgba(133, 0, 124, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(133, 0, 124, 0.7);

    padding: 3vw;
    border-radius: 16px;
}

.agenda-box .committee-heading{
    text-align: center;
}

.committee-body{
    white-space: pre-line;
}

.chair-section{
    padding-bottom: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chair-content{
    width: 75%;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chair-item {
    height: 24rem;
    width: 18rem;
    text-align: center;
    padding-bottom: 1rem;
    flex-shrink: 0;

    background: rgba(133, 0, 124, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(133, 0, 124, 0.7);
}



.chair-heading{
    padding: 1%;
    margin-bottom: 8vh;
    border: 3px solid var(--secondary);
    background: rgba(44, 3, 59, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
}

.chair-image{
    height: 14rem;
    width: 100%;
    flex-shrink: 0;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}
.chair-name{
    font-family: var(--font-heading);
    padding: 1rem 0;
    line-height: 1;
    font-size: 32px;
    color: var(--color-primary);
}
.chair-role{
    font-family: var(--font-subheading);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: var(--color-tertiary-shaded);
}

.actual-footer{
    margin-bottom: -20px;
    background-color: var(--bg-base-two);
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media (max-width: 1100px){
    .committee-logo{
        height: 24vw;
    }
    .committee-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-duo{
        width: 54vw;
    }

    .ipc-btn-section{
        margin-bottom: 16vw;
    }

    .ipc-btn-section .ipp-button,
    .ipc-btn-section .ipr-button{
        margin: 0;
    }

    .menu-item p{
        font-size: 5vh;
    }

    .committees-container{
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2vw;
    }
    
    .chair-content{
        gap: 3vw;
        justify-content: center;
    }

}

@media (max-width: 995px){
    .burger{
        width: 20px;
        height: 12px;
        padding: 1.75em 0;
    }
    .burger::before,
    .burger::after{
        width: 20px;
    }

    .committee-heading{
        font-size: 8vw;
        padding-bottom: 8px;
    }

    .agenda-box p.committee-heading{
        font-size: 8vw;
    }

    .agenda-section{
        padding: 0 0;
    }
    .agenda-content{
        width: 94%;
    }

    .agenda-content p{
        font-size: var(--text-baseL);
    }

    .chair-content{
        justify-content: center;
    }
    

    .hero-section .committee-heading {
        top: -5px;
    }

    .menu-item p{
        font-size: 8vw;
    }

    .committees-container p.comms-item{
        font-size: 4vw;
    }

    #org-comms p{
        font-size: 7vw;
    }

    .hero-section .committee-subheading {
        top: -5px;
    }

    
    .menu-divider{
        border-top: 2px solid grey;
    }
}