@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-heading: "Playfair Display";
    --font-subheading: "Inter";
    --font-body: "Inter";
    --color-primary: #bc9c22;
    --color-secondary: #b27409;
    --color-tertiary: #cbc7b7;
    --color-tertiary-shaded: #a9a597;
    --bg-base-one: #62185E;
    --bg-base-two: #2C043B;
    --bg-base-three: #411C42;
    --bg-base-four: #5C047B;

    --text-sm: 2vmin;
    --text-base: 2.5vmin;
    --text-baseL: 3vmin;
    --text-lg: 4.5vmin;
    --text-xl: 5.5vmin;
    --text-h1: 4vw;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.committee-heading{
    font-family: var(--font-heading);
    position: relative;
    font-size: var(--text-h1);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
}
.committee-subheading{
    position: relative;
    font-family: var(--font-subheading);
    font-size: var(--text-baseL);
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 300;
}
.committee-body{
    font-family: var(--font-body);
    font-size: var(--text-base);
    font-weight: 300;
    position: relative;
    color: var(--color-tertiary);
}
