/* :root {
    --main: #E8EEF2;
    --main-light: #ffffff;
    --primary: #06597D;
    --primary-dark: #003051;
    --primary-light: #67d0eb;
    --secondary: #e0bb20;
} */

/* 2022 */
/* :root {
    --main: #1b262c;
    --main-light: #bbe1fa;
    --primary: #0f4c75;
    --primary-dark: #1b262c;
    --primary-light: #3282b8;
    --secondary: #e0bb20;
    --secondary: #32bdde;
    --text-color: #eeeeee;
    --navbar-color: #07090a;
} */

/* 2023 */
/* :root {

    --main: rgb(63,28,52);
    --main-light: #bbe1fa;
    --primary: #0f4c75;
    --primary-dark: #2c0c22;
    --primary-light: #3282b8;
    --secondary: #ffb947;
    --text-color: #eeeeee;
    --navbar-color: #07090a; 

} */

/* 2023 - Xth */
/* :root{
    --main:#1f2a30;
    --main-light: #bbe1fa;
    --primary: #1f2a30;
    --primary-dark: #162831;
    --primary-light: #234150;
    --secondary: #ffb947;
    --text-color: #eeeeee;
    --navbar-color: #07090a;
} */

/* XIth edition - 2024 */
:root {
  --main: #2c033b;
  --main-light: #ffb7fc;
  --primary: #411c42;
  --primary-dark: #411c42;
  --primary-light: #bbb4d1;
  --secondary: #ffb947;
  --text-color: #eeeeee;
  --navbar-color: rgba(8, 8, 8, 0.5);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--main);
  height: 100%;
  background-image: url(../images/silk_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.title-heading {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
}

/* NAVBAR */

nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
nav .toggle-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1.5rem;
}

.overlay .logo {
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .logo img {
  height: 45px;
}

nav > div {
  flex: 1;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #cdc6be;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:focus {
  outline: none;
}

.burger:before {
  transform: translateY(-3px);
}
.burger:after {
  transform: translateY(3px);
}
.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  background: rgba(65, 28, 66, 1);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(65, 28, 66, 1);

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 1;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1.5vh;
  flex-direction: column;
  justify-content: start;
  margin-top: 12vh;
  overflow-y: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 2.5px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#comms-div {
  cursor: auto;
}

@keyframes menuArrowTranslateX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1rem);
  }
}

.menu-item:hover p:not(.comms-p) {
  letter-spacing: 0.075em;
  font-weight: 600;
}
.menu-item:hover .comms-item {
  font-weight: 800;
}

.menu-item:hover svg {
  animation: menuArrowTranslateX 0.25s forwards;
}

.menu-divider {
  border-top: 1px solid grey;
  width: 100%;
}
.menu-item p {
  font-family: var(--font-heading);
  color: var(--color-tertiary);
  text-align: left;
  display: flex;
  padding-left: 5vw;
  padding-bottom: 0;
  position: relative;
  text-transform: uppercase;
  font-size: var(--text-xl);
  line-height: 80%;
  margin-top: 2.5px;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.committees-container {
  padding-left: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.committees-container .menu-item p {
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-weight: 300;

  padding-left: 0;
  padding-right: 5vw;
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  background: #c03f13;
  width: 0%;
  height: 16px;
  z-index: -1;
}

.overlay a {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .menu-item p {
    font-size: 5vh;
  }

  .committees-container {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
  }
}

@media (max-width: 995px) {
  .menu-item p {
    font-size: 8vw;
  }

  .committees-container p.comms-item {
    font-size: 4vw;
  }

  #org-comms p {
    font-size: 7vw;
  }
}

.navbar {
  width: 100%;
  padding: 15px 10px;
  height: 10vh;
  background: var(--navbar-color);
  backdrop-filter: blur(8px);
  /* background: var(--navbar-color) !important; */
  border: none;
  border-radius: 0;
  /* margin-bottom: 20px; */
  color: var(--text-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.navbar-btn {
  background: transparent;
  box-shadow: none;
  outline: none !important;
  border: none;
  margin: 5.5px 0 0 0;
  color: var(--text-color);
}

.navbar-brand {
  font-size: 27px;
  color: var(--text-color) !important;
}

.navbar-brand a {
  color: var(--text-color);
}

.navbar-brand a:hover {
  color: var(--secondary);
  transition: 1s;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.register-btn {
  color: var(--primary);
  border-radius: 5px;
  width: 130px;
  height: 40px;
}

/* bar collapse button on navbar */

/* SIDEBAR */

/* CONTENT */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
}

/* HOMEPAGE TITLE JUMBOTRON (WITH MUN LOGO) */

.jumbotron {
  height: 100vh;
}

.jumbotron-img {
  /* background: #cddde4; */
  background: transparent;
  /* background-image: url(../images/logo_white_compressed.png); */
  background-image: url(../images/mun-logo-color.png);
  /* background-image: url(../images/mun-logos-2023/MUN2023-Color-OrangeFont.png); */
  /* background-image: url(../images/mun-logos-2023/MUN2023-Color-WhiteFont.png); */
  height: calc(100vh - 160px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.jumbotron .scroll-down {
  position: relative;
  top: 4.5rem;
}

.booking-card .img-container img {
  height: 240px;
  width: auto;
}

/* IPC CARD EXCEPTION */
#ipc-card {
  display: flex;
  width: 200%;
}
#ipc-card .img-container {
  width: 100%;
  height: 85%;
}

.committee-card:last-child {
  margin: 0 8vw 0 8vw;
}

#ipc-card .img-container img {
  height: 240px;
}

/* ICON CUSTOMIZATION - ORIGINAL COLOURS */

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-instagram.white:hover {
  color: var(--secondary);
  transition: 0.5s;
}

.fa-instagram.white {
  color: #eee;
}

.fa-twitter {
  color: #00aced;
}

.fa-twitter.white {
  color: #eee;
}

.fa-facebook-square {
  color: #087bea;
}

.fa-facebook-square.white:hover {
  color: var(--secondary);
  transition: 0.5s;
}

.fa-facebook-square.white {
  color: #eee;
}

/* ICON CUSTOMIZATION - MINT GREEN */

/* .fa-facebook {
    color: var(--primary-dark);
}
.fa-instagram {
    color: var(--primary-dark);
}
.fa-twitter {
    color: var(--primary-dark);
} */

.social-media {
  /* margin-left: auto;
    margin-right: auto;
    padding-left: 30%;
    padding-top: 80%; */
  position: absolute;
  width: 100%;
  bottom: 0;
  list-style-type: none;
  padding-bottom: 5.5em;
}

.social-media a {
  padding-right: 10px;
}

/* SCROLL DOWN BUTTON */

.scroll-down {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Animation for Scroll Button */

.scroll-down i {
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

a:hover.scroll-down {
  color: var(--secondary) !important;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0px, 20px);
  }
  40% {
    -webkit-transform: translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 20px);
  }
  40% {
    transform: translate(0, 0);
  }
}

.container-fluid {
  padding-left: 0;
}

/* HOME PAGE SPONSORS CAROUSEL */

.container.sponsors {
  margin-bottom: 3rem;
}

.carousel-indicators li {
  background-color: var(--primary-dark);
}

.carousel-indicators li.active {
  background-color: var(--primary-light);
}

.sponsor-title {
  margin: 20px 0 30px 0;
  /* color: var(--text-color); */
  font-family: "Playfair Display", serif;
  color: var(--secondary);
  /* padding: 1%;
    border: 5px solid var(--secondary); */
}

/* FOOTER */

footer {
  clear: both;
  position: absolute;
  flex-shrink: 0;
}

.footer-distributed {
  /* background-color: #292c2f; */
  background: rgba(65, 28, 66, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px "Inter", sans-serif;
  padding: 45px 55px;
  margin-top: 5%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  /* font: normal 36px "Poppins", cursive; */
  font-family: "Playfair Display", serif;
  margin: 0;
}

.footer-distributed h3 span {
  /* color: #5383d3; */
  color: var(--secondary);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links a:hover {
  color: var(--secondary);
  transition: 0.7s;
}

.footer-distributed .footer-company-name {
  color: #c0c0c0;
  font-size: 14px;
  font-weight: normal;
  margin-top: 2rem;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  /* background-color: #33383b; */
  background-color: var(--primary-dark);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 24px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  /* color: #5383d3; */
  /* color: var(--secondary); */
  text-decoration: none;
}
.footer-distributed .footer-center p a:hover {
  color: var(--secondary);
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #c9c9c9;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.footer-distributed .footer-icons i:hover {
  color: var(--secondary);
  transition: 1s;
}

.footer-distributed .footer-icons span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 1rem;
  margin-bottom: 5px;
}

.footer-authors {
  /* color: #FF8C00; */
  padding-left: 15px;
  color: var(--secondary);
}

.footer-authors a {
  color: var(--text-color);
}

.footer-authors a:hover {
  color: var(--secondary);
  transition: 0.5s;
  text-decoration: none;
}

.footer-authors i:hover {
  color: var(--secondary);
  transition: 0.5s;
  text-decoration: none;
}

/* MEDIA QUERY FOR SCROLL-DOWN BUTTON */

@media screen and (max-width: 425px) {
  .jumbotron-img {
    height: calc(50vh - 70px);
    margin: 0 25px;
    /* background-image: url(../images/logo_white_mobile_compressed.png); */
    background-image: url(../images/mun-logo-color.png);
  }
  .scroll-down {
    display: none;
  }
  .display-4 {
    font-size: 2rem;
  }

  .burger {
    width: 20px;
    height: 12px;
  }

  .navbar .container-fluid {
    flex-wrap: nowrap;
  }

  .burger::after,
  .burger::before {
    width: 20px;
  }
}

/* MEDIA QUERIES FOR FOOTER */

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

@media (max-width: 880px) {
  #ipc-card .img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
  }
  #ipc-card {
    width: auto;
  }

  #ipc-card .img-container img {
    height: 240px;
    object-fit: contain;
  }

  .committee-card:last-child {
    margin: 0 8vw 0 8vw;
  }

  #content {
    font: 14px;
  }
  .footer-distributed {
    font: 14px "Inter", sans-serif;
    padding: 35px 40px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed .footer-company-about {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #reg-alert {
    display: none;
  }
}
