.hero-section{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content{
    padding: 3vw;
    width: 65%;
    text-align: center;
    background: rgba(133, 0, 124, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(133, 0, 124, 0.7);
}

.hero-content p{
    font-weight: 400;
    
}

.apply-box-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: 50%;
}

.apply-box-section .apply-img{
    height: 240px;
    border-radius: 16px;
    margin: 6vw;
    border: 6px solid var(--color-primary);
}

@media (max-width: 995px){
    .hero-section{
        height: 100vh;
    }
    .committee-body{
        font-size: 4vw;
    }
    .hero-content{
        width: 95%;
    }
    .committee-heading{
        font-size: 8vw;
        padding-bottom: 8px;
    }
}