<div class="container-fluid committees" id="committee_section" data-aos="fade-right" data-aos-duration="500">
    <h2 class="committee-card-heading title-heading">COMMITTEES</h2>

    <div class="row committee-card d-flex flex-row justify-content-md-around no-gutters">
        {% for committee in committees %}
        <div class="committee-card-col col-xl-4 col-md-5 col-sm-8">
            <a href="/committee/{{ committee.url }}">
                <!-- <a href="/#committee_section"> -->
                {% if committee.cardName != "IPC" %}
                <div class="booking-card">
                    <div class="img-container">
                        <img src="{{committee.img}}">
                    </div>
                {% else %}
                <div class="booking-card" id="ipc-card">
                    <div class="img-container">
                        <img src="{{committee.ipp_img}}">
                        <img src="{{committee.ipr_img}}">
                    </div>
                {% endif %}
                    <div class="book-container">

                        <!-- <div class="content">
                        </div> -->
                        <!-- REMOVE ABOVE TO MAKE CARD FULL SIZE -->
                    </div>
                    <div class="informations-container">
                        <h2 class="title">{{ committee.cardName }}</h2>
                        <p class="sub-title">{{ committee.cardFullName }}</p>
                        <!-- <div class="more-information"></div> -->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>