<div id="letcon" data-aos="zoom-in-up" data-aos-duration="500">
  <div class="date"></div>
  <h1>Letter from The Secretary General</h1>
  <figure class="figure">
    <img
      src="{{url_for( 'static', filename='images/about/Hrishekesh_SECGEN.jpg' )}} "
      class="figure-img img-fluid rounded"
      alt="Secretary General "
    />
    <figcaption class="figure-caption text-center">
      Hrishekesh Jagannathan,
      <br />Secretary General
    </figcaption>
  </figure>
  <p>
    Greetings,
    <br />
    SSN MUN Society and SNUC MUN Society jointly present to you, the
    <i>X<sup>th</sup></i> edition of SSN-SNUC MUN. With 5 committees and the
    International Press, the best EB in the Southern Circuit, and quality
    agendas, SSN-SNUC MUN <i>X<sup>th</sup></i> Edition is guaranteed to be a
    one of a kind experience. <br />
    <br />
    We've fulfilled expectations and jumped leaps and bounds to make each
    edition the best it could be. Following this tradition, we're back in less
    than a year with our best edition yet.
    <br />
    <br />
    With the conference slated to happen between the <i>1<sup>st</sup></i> and
    <i>3<sup>rd</sup></i> of September, allow us to transport you into a one of
    a kind experience for 3 days where each committee will bring something new
    and unique to the table, to every delegate.
    <br />
    <br />
    We look forward to serving you, and putting together this experience for all
    of you. We'll meet you in the first week of September, with SSN-SNUC MUN,
    reviving a decade of debate, discussion and deliberation one more time.
    <br />
    <br />
    Regards,<br />
    Hrishekesh Jagannathan<br />
    Secretary General, SSN-SNUC MUN <i>X<sup>th</sup></i> Edition<br />
  </p>

  <div class="letter-line"></div>
</div>
