<section class="container sponsors" data-aos="fade-left" data-aos-duration="1500">
    <h2 class="display-4 text-center sponsor-title title-heading">Our Sponsors</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-height: 250px;min-height: 250px;overflow: hidden;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href='/sponsors'>
                    <img class="d-block w-50 mx-auto" src="{{url_for('static', filename='images/sponsors/aachi.png')}}" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href='/sponsors'>
                    <img class="d-block w-50 mx-auto" src="{{url_for('static', filename='images/sponsors/idp.png')}}" alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href='/sponsors'>
                    <img class="d-block w-50 mx-auto" src="{{url_for('static', filename='images/sponsors/tmb.png')}}" alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href='/sponsors'>
                    <img class="d-block w-50 mx-auto" src="{{url_for('static', filename='images/sponsors/unacademy-3.png')}}" alt="Second slide">
                </a>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>