{% extends "base.html" %} {% block page_css%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/announcements.css')}}" /> {% endblock %} {% block content %}
<div class="announce-container">
    <div class="chunk" data-aos="fade-right" data-aos-duration="1500">
        <h1>
            Announcements
        </h1>
        <ol>
            <!-- <li>
                Round 3 delegate applications are now open. Click <a style="font-weight: 600;" href="/registrations">here</a> to apply!
            </li> --->
            <li>
                Check out the Conference Manual. Click <a style="font-weight: 600;" href="../static/Conference Manual.pdf" target="_blank">here</a> to download!
            </li>
            <li>
                Lightning round delegate applications are open.Click <a style="font-weight: 600;" href="/registrations">here</a> to apply!
            </li>

            <!-- <li>
                Committee background guides are now released!
            </li> -->
            <!-- <li>
                International Press applications are now open. Click <a style="font-weight: 600;" href="/registrations">here</a> to apply!
            </li>  -->
        </ol>
        <!-- <ol>
            <li>
                Delegates would have received two emails from the Organising team of SSNMUN 2023.
            </li>
            <li>
                The first email states the rules of conduct and appropriate guidelines that need to be adhered to during the conference.
            </li>
            <li>
                The second email includes information regarding the delegate's chit-app login credentials along with a customized delegate kit.
            </li>
            <li>
                Delegates who haven't received the two emails are requested to contact the helpdesk using the information provided in the
                <a href="/contact"><strong>Contact Us</strong></a> page of the website.
            </li>
        </ol> -->
        <!-- <p>
            <li>Final Round 3 delegate and IP allotments are now out! Visit <a style="text-decoration: underline;" href="/matrix"><b>Allotments</b></a> to view!
            </li>
            <li>Proceed to the <a style="text-decoration: underline;" href="/payments"><b>Payment portal</b></a> to avoid risk of losing your allotment</li>  
            <li>Round 3 of delegate applications start on the 19th of December and end on the 27th of December, 2022. Visit <a style="text-decoration: underline;" href="/registrations"><b>Registrations</b></a> to apply!</li>
            <li>Round 2 Delegate applications are out! Visit <a style="text-decoration: underline;" href="/registrations"><b>Registrations</b></a> to apply!</li> 
        </p> -->
    </div>



    <!-- <div class="chunk" data-aos="fade-left" data-aos-duration="1500">

        <h1>Committee Schedule</h1>
        <p>
            Please find the committee schedule for days 1 and 2 below:
        </p>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="text-decoration: none;" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Day 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="text-decoration: none;" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Day 2</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><img src="{{url_for('static', filename='images/day1.jpeg')}}" alt="day1 img"></div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><img src="{{url_for('static', filename='images/day2.jpeg')}}" alt="day2 img"></div>
        </div>
    </div> -->

    <!-- <div class="chunk" data-aos="fade-right" data-aos-duration="1500">
        <h1>Rules of Procedure</h1>
        <div class="row justify-content-center">
            <a href="/rop-guide" class="btn-hover-effect btn-hover-effect--effect-5" title="View More" download>Download the Rules of Procedure</a>
        </div>
    </div> -->


    <!-- <div class="chunk" data-aos="fade-left" data-aos-duration="1500">
        <h1>SSNMUN 2023 ChitApp use guide</h1>
        <div class="videoResponsive">
            <iframe src="{{url_for('static', filename='Chit_Demo.mp4')}}" width="640" height="480" allow="autoplay" allowfullscreen></iframe>
        </div>

    </div> -->


    <!-- <div class="chunk" data-aos="fade-right" data-aos-duration="1500">
        <h1>Dress Code for SSNMUN 2021</h1>
        <p>
            The dress code is <u>Western Formals</u>. Indian formals are <em>optional</em> and can be worn on the second day of the conference.
        </p>
    </div> -->
</div>

{% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-announcements").classList.add("active");
    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    if (width < 800) {
        document.getElementById("pills-tab").classList.add("justify-content-center");
    }
</script>
{% endblock %}