{%extends "base.html"%}{% block page_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sponsor.css')}}"> {% endblock %} {% block
content %}

<div class="sponsor-heading jumbtron">
    <h3>Our Sponsors</h3>
</div>

<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="container sponsor-container">
            <h1 class="sponsor-heading">G3 Lasers</h1>
            <img class="title-sponsor-img" src="{{url_for('static', filename='images/sponsors/G3lasers.jpeg')}}" />
            <p class="sponsor-details">
                G3 is a leading Lasers company for Medical & Surgical Laser systems & Energy based devices. Our buy replica watches products are used to provide a diverse range of treatment applications in Plastic Surgery, Dermatology, Urogynecology, ENT & Cancer Surgeries. We cater to the needs of the indications including hair removal, skin rejuvenation, active acne, scar reduction, body contouring, treatment of Vascular & pigmented lesions, treatment of Ear Nose & Throat problems through Laser Surgery, Keloids Treatment, Stress Related Urinary Incontinence & Vaginal Rejuvenation.
                <br>G3 was founded on May 8, 1996 at Chennai, India. We have installed more than 1,000 Lasers in India, Bangladesh, Nepal, Srilanka & nearby countries. Deep knowledge in Application buy replica watchesTraining & thorough know-how in Servicing Electronic & Optronic devices are our biggest strength.
                <br>We deal with quality devices for ensuring that the devices deliver what Physicians & Surgeons desire to. Over the years, we have continued to add better technologies to our portfolio & our journey continues.
                <br>G3 also has ventured into manufacturing of Surgical CO2 Lasers with Fiber Delivery. This state-of-the-art technology is being developed as one of the World’s Best Quality Laser by G3’s experienced & dedicated Engineers.
            </p>
        </div>
    </div>
</div>

<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="container sponsor-container">
            <h1 class="sponsor-heading">ICICI Prudential AMC</h1>
            <img class="title-sponsor-img" src="{{url_for('static', filename='images/sponsors/ICICI.jpg')}}" />
            <p class="sponsor-details">
                Investing in Mutual Funds can help you realise your dreams; they work as a catalyst to trigger
                an individual’s progress. ‘Tarakki Karein’ meaning ‘Let’s Progress’, is our clarion call
                to investors who save the traditional way to leverage our expertise in Fund Management to
                let us help them create wealth for their future.We stand committed to facilitate this ‘tarakki’
                or ‘progress’ for our investors & partners by being at the cutting edge of innovation, to build
                trust and sustained relationships and help you achieve your financial goals. <br>At ICICI Prudential AMC, we have always strived
                to stay ahead of the curve by providing relevant investment solutions at the right time, and
                leveraging digital innovations to improve our customer’s investment experience. <br>Apart from
                industry-first digital initiatives for our customers that help provide seamless digital on-boarding
                & servicing, we have also created innovative Digital Products to improve productivity and
                provide convenience for our partners.

            </p>
        </div>
    </div>
</div>

<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="container sponsor-container">
            <h1 class="sponsor-heading">aju Photography</h1>
            <img class="title-sponsor-img" src="{{url_for('static', filename='images/sponsors/aju.jpeg')}}" />
            <p class="sponsor-details">
                Aju Photography, helmed by the talented Mr. Ajay Krishnan, has been in the field of Wedding Photography since 2011. With an astounding portfolio of over 400 weddings, and adorned with a string of prestigious international awards, including the Weddison, Wedaward, MyWed Editors’ Choice, and the critically acclaimed Fearless Award, Aju Photography has carved a niche in the dynamic world of Photo Journalism. Aju Photography's remarkable work has received well-deserved recognition and has been featured in prominent media outlets such as the BBC, Chennai Insider, Canvera, and Shaadi Saga.
            </p>
        </div>
    </div>
</div>

<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="container sponsor-container">
            <h1 class="sponsor-heading">Jamboree</h1>
            <img class="title-sponsor-img" src="{{url_for('static', filename='images/sponsors/jamboree.jpeg')}}" />
            <p class="sponsor-details">
                Founded in 1993, Jamboree Education offers comprehensive classroom and online preparation programs for GMAT®, GRE®, SAT®, ACT®, TOEFL™, and IELTS™, as well as admissions counselling. Since then Jamboree has established itself as India's leading institute for test prep and admissions counselling, enabling 1,70,000+ students to get the highest scores and secure admissions into top universities worldwide.
            </p>
        </div>
    </div>
</div>

<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="container sponsor-container">
            <h1 class="sponsor-heading">eCAPS</h1>
            <img class="title-sponsor-img" src="{{url_for('static', filename='images/sponsors/ecaps.jpeg')}}" />
            <p class="sponsor-details">
                Caps was found in 1993, around the time when computers and computing were beginning to capture the imagination of business and industry.
                Computers began to proliferate steadily and more computers meant more users and perceivably greater efficiency levels.<br>
                But efficiency could be achieved only when computers were ‘networked’. Networking enabled resources to optimally shared.
                It was ‘CAPS’ mission, when we incorporated, to lead the way forward in the field of ‘networking’. We began by offering services in hardware technology and products to businesses and individuals, through our channel Partners.
                from 1993 ecaps traveled a long way with many Brands, partners and customers.
                Today, Caps has emerged as one of the leading Value added Distributor for IT products with a very large network of channel partners. With this efficient network of partners caps is available wherever and whenever customers need them.
            </p>
        </div>
    </div>
</div>

{% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-sponsors").classList.add("active");
</script>
{% endblock %}