{% extends "base.html" %} {% block page_css%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tech-team.css')}}"> {% endblock %}{% block
    content %}

    <div class="tech-page">
        <div class="tech-heading jumbotron">
            <h1>Tech Team</h1>
            <h3>SSN-SNUC MUN 2023</h3>
        </div>
    
        <div class="tech-member">
            <div class="row tech-member-row d-flex flex-row justify-content-md-around no-gutters">

                {% for member in tech_members %} {% if loop.index < 3 %}
                        <div class="tech-member-col col-xl-6 col-lg-6" data-aos="fade-right" data-aos-duration="1500">
                {% else %}
                    <div class="tech-member-col col-xl-4 col-lg-4" data-aos="fade-right" data-aos-duration="1500">
                {% endif %}
                        <div class="tech-member-row-card">
                            <img src= "{{ member.img }}" alt="{{member.name}}">
                            <h2>{{ member.name }}</h2>
                            <h3>{{ member.position }}</h3>
                            <div>
                                <a href = "{{ member.github_url }}" target = "_blank" rel = "noopener noreferrer"><i class="fab fa-github fa-2x" style = "color:white"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <a href = "{{ member.linkedin_url }}" target = "_blank" rel = "noopener noreferrer"><i class="fab fa-linkedin fa-2x" style = "color:white"></i></a></h3>
                                <!-- <i class="fab fa-github fa-2x" style = "color:white" href = "{{ member.github_url }}"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fab fa-linkedin fa-2x" style = "color:white"></i> -->
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}